<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - PremierPro</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/PremierPro.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-light ">
            <div class="container-fluid">
                <a class="navbar-brand text-white" asp-area="" asp-controller="Home" asp-action="Index">
                    <img src="~/logo.png" class="navbar-logo" alt="PremierPro Logo">
                    PremierPro
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav me-auto">
                        <li class="nav-item"><a class="nav-link text-white" href="/proizvod">Shop</a></li>
                        <li class="nav-item"><a class="nav-link text-white" href="/Home/FetchMatches">Fixtures</a></li>
                        <li class="nav-item"><a class="nav-link text-white" href="/Home/Help">Help</a></li>
                        <li class="nav-item"><a class="nav-link text-white" href="/Home/About">About Us</a></li>
                    </ul>
                    <form asp-controller="Proizvod" asp-action="Index" method="get" class="d-flex bg-white rounded-3">
                        <input class="form-control me-2 border-0" type="search" placeholder="Search" aria-label="Search" name="searchString">
                        <button class="btn btn-outline-white text-black bg-white" type="submit">🔍</button>
                    </form>
                    <partial name="_LoginPartial" />
                </div>
            </div>
        </nav>
        <div class="bg-warning text-center p-2">
            50% OFF ON ALL PRODUCTS !!!
        </div>
    </header>
    <div class="container">
        <main role="main" class="py-5">
            @RenderBody()
        </main>
    </div>
    
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
